.CarrouselCard {
  background-color: rgb(35, 35, 70);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px;
  img {
    width: 50%;
  }
  .CarrouselCard_temperature {
    display: flex;
    width: 100%;
    justify-content: space-around;
    p:nth-child(2) {
      color: #f5f5f5a4;
    }
  }
}
