.Search {
  grid-column: 3/7;
  grid-row: 2/3;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  .Search_input {
    width: 90%;
    border-radius: 15px;
    padding: 10px 30px;
    border: none;
    background: rgba(255, 255, 255, 0.26);
    font-family: "PT Sans", sans-serif;
    color: black;
  }
  .Search_input:focus-visible {
    outline: 2px solid #00a2ff3d;
  }
  .Search_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.26);
    cursor: pointer;
    img {
      width: 14px;
    }
  }
}

@media screen and (max-width: 540px) {
  .Search {
    grid-column: 1/2;
    padding: 0;
    grid-row: 2/3;
    .Search_input {
      width: 80%;
    }
  }
}
