.Pressure {
  background-color: rgb(35, 35, 70);
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 20px;
    color: white;
  }
  p {
    color: white;
    font-size: 54px;
    span {
      color: #f5f5f5a4;
      font-size: 0.5em;
    }
  }
}
@media screen and (max-width: 500px) {
  .Pressure {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
