.Carrousel {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .Carrousel_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    padding: 0 90px;
    button {
      width: 31px;
      height: 30px;
      border: none;
      border-radius: 50%;
      margin-left: 5px;
      font-weight: bold;
      cursor: pointer;
    }
    button:nth-child(1) {
      background-color: white;
    }
    button:nth-child(2) {
      background-color: rgb(113, 113, 151);
      color: white;
    }
  }
  .Carrousel_container {
    height: 75%;
    padding: 0 90px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 500px) {
  .Carrousel {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 100%;
    .Carrousel_header {
      padding: 20px;
      height: 10%;
    }
    .Carrousel_container {
      height: 90%;
      gap: 10px;
      padding: 0 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
