.Home {
  height: 100vh;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "PT Sans", sans-serif;
  background-color: rgb(9, 9, 19);

  h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    padding: 0 0 0 25px;
    color: #00a2ff3d;
  }
}
