@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    rgb(224, 215, 215),
    rgba(130, 219, 235, 0.349)
  );
}
