@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
i,
p,
h1,
h2,
h3,
h4,
span {
  user-select: none;
}

body {
  background: linear-gradient(to bottom, rgb(23, 23, 47), rgb(9, 9, 19));
}
